.product_container {
  width: 483px;
  height: 858.72px;
  margin-top: 100px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.row11 {
  width: 100%;
  height: 314px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.row11_h2 {
  width: 100%;
  height: 64px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 22px;
  line-height: 1.33333333;
  font-weight: 600;
}
.row11_p1 {
  width: 100%;
  height: 240px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #091e42;
  margin-bottom: 24px;
  text-align: center;
}
.row11_p2 {
  height: 44px;
  /* margin-top: 5px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 6px 16px;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 6px;
  color: #0065ff;
  background-color: transparent;
  background-image: none;
  border-color: #0065ff;
  padding-right: 1rem;
  text-decoration: none;
}
a:hover {
  color: #fff;
  background-color: #0065ff;
  background-image: none;
  border-color: #0065ff;
}
.row22 {
  width: 483px;
  height: 341px;
  padding: 0px 15px;
  margin-bottom: 24px;
  margin-top: 30px;
}
.row22_image {
  width: 453px;
  height: 317px;
}
.row33 {
  width: 100%;
  height: 123px;
  padding: 0px 15px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  /* border: 1px dashed red; */
}
.row33_p {
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: "Charlie Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #091e42;
}
.row3_logos {
  width: 453px;
  height: 39px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos_google {
  width: 70.72px;
  height: 33px;
  margin: 0px 16px;
}
.logos_fender {
  width: 72.86px;
  height: 39px;
  margin: 0px 16px;
}
.logos_squrespace {
  width: 110.72px;
  height: 22px;
  margin: 0px 16px;
}
.logos_costco {
  width: 70.72px;
  height: 28px;
  margin: 0px 16px;
}

/* -----------------768px---------------------------------------- */
@media only screen and (min-width: 768px) {
  .product_container {
    width: 720px;
    height: 1077px;
    margin-top: 100px;
  }
  .row11 {
    width: 720px;
    height: 286px;
    /* / */
  }
  .row11_h2 {
    width: 100%;
    height: 112px;
    font-size: 33px;
    width: 100%;
    padding: 0px;

    text-align: center;
    margin-bottom: 8px;
    font-weight: 600;
  }
  .row11_p1 {
    width: 100%;
    height: 90px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #091e42;
    margin-bottom: 24px;
    text-align: center;
  }
  .row22 {
    width: 720px;
    height: 483.938px;
    padding: 0px 15px;
    margin-bottom: 24px;
    margin-top: 5px;
  }
  .row22_image {
    width: 100%;
    height: 100%;
  }
  .row33 {
    width: 100%;
    height: 123px;
    padding: 0px 15px;
  }
  .row33_p {
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: "Charlie Text", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #091e42;
  }
  .row33_logos {
    width: 100%;
    height: 39px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logos_google {
    width: 99px;
    height: 33px;
    margin: 0px 16px;
  }
  .logos_fender {
    width: 102px;
    height: 39px;
    margin: 0px 16px;
  }
  .logos_squrespace {
    width: 155px;
    height: 22px;
    margin: 0px 16px;
  }
  .logos_costco {
    width: 99px;
    height: 28px;
    margin: 0px 16px;
  }
}
/* ---------------------976----------------------------------- */
@media only screen and (min-width: 976px) {
  .product_container {
    width: 960px;
    height: 1215px;
    padding: 80px 15px;
    margin: 0px 8.5px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row11 {
    width: 100%;
    height: 286px;
    padding: 0px 15px;
  }
  .row11_h2 {
    font-size: 35px;
    width: 100%;
    height: 96px;
  }
  .row11_p1 {
    width: 100%px;
    height: 90px;
    font-size: 20px;
    text-align: center;
  }
  .row22 {
    width: 960px;
    height: 652.266px;

    margin-bottom: 24px;
    margin-top: 20px;
    text-align: center;
  }
  .row22_image {
    max-width: 100%;
    height: auto;
  }
  .row33 {
    width: 100%;
    height: 90px;
    padding: 0px 15px;
  }
  .row33_p {
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: "Charlie Text", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #091e42;
  }
  .row33_logos {
    width: 930px;
    height: 39px;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logos {
    margin-right: 0rem 1rem;
  }
  .logos_google {
    width: 99px;
    height: 33px;
    margin: 0px 16px;
  }
  .logos_fender {
    width: 102px;
    height: 100%;
    margin: 0px 16px;
  }
  .logos_squrespace {
    width: 155px;
    height: 22px;
    margin: 0px 16px;
  }
  .logos_costco {
    width: 99px;
    height: 28px;
    margin: 0px 16px;
  }
}
/* ------------------------------------1200------------------------------------------ */
@media only screen and (min-width: 1200px) {
  .row11 {
    width: 950px;
    height: 208px;
    padding: 0px 15px;
  }
  .row11_h2 {
    font-size: 35px;
    width: 100%;
    height: 48px;
  }
  .row11_p1 {
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-align: center;
  }
  .row22 {
    width: 1140px;
    height: 778.516px;
    margin-top: 20px;
    padding: 0px 15px;
    text-align: center;
  }
  .row22_image {
    max-width: 100%;
    height: auto;
  }
}
